<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== assets(:css) %>
    <%== assets(:js, defer: nil) %>
    <title>Trooper<% if @page_title %> - <%= @page_title %><% end %></title>
  </head>
  <body hx-boost="true">
    <%== partial('shared/main_nav') %>

    <div class="d-flex justify-content-center">
      <main id="main" class="container d-flex flex-column gap pt-4" hx-target="main#main" hx-swap=""innerHTML>
        <% if flash.any? %>
          <div class="p-4">
            <% if flash['notice'] %>
              <div class="alert alert-success" role="alert"><%= flash['notice'] %></div>
            <% end %>
            <% if flash['error'] %>
              <div class="alert alert-danger" role="alert"><%= flash['error'] %></div>
            <% end %>
          </div>
        <% end %>

        <%== yield %>

      </main>
    </div>
  </body>
</html>
