<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="clerk_pub_key" content="<%= clerk_pub_key %>">
    <%== assets(:css) %>
    <%== assets(:js) %>
    <title>Trooper<% if @page_title %> - <%= @page_title %><% end %></title>
  </head>
  <body hx-boost="true">
    <%== partial('shared/main_nav') %>

    <div class="flex justify-center mt-8 mx-4 sm:mx-8 md:mx-0">
      <div id="main-page-container" class="w-full md:w-11/12 lg:w-10/12 xl:w-8/12">
        <% if flash['notice'] %>
          <div class="alert alert-success" role="alert"><%= flash['notice'] %></div>
        <% end %>
        <% if flash['error'] %>
          <div class="alert alert-danger" role="alert"><%= flash['error'] %></div>
        <% end %>
        <% if @page_title %>
          <h1><%= @page_title %></h1>
        <% end %>
        <%== yield %>
      </div>
    </div>
  </body>
</html>
