<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%== assets(:css) %>
    <%== assets(:js, defer: nil) %>
    <title>Trooper<% if @page_title %> - <%= @page_title %><% end %></title>
  </head>
  <body class="dark:bg-stone-700 dark:text-gray-100" hx-boost="true">
    <%== partial('shared/main_nav') %>

    <div class="flex justify-center mt-8 mx-4 sm:mx-8 md:mx-0">
      <main id="main" class="w-full md:w-11/12 lg:w-10/12 xl:w-8/12" hx-target="main#main" hx-swap=""innerHTML>
        <% if flash.any? %>
          <div class="p-4">
            <% if flash['notice'] %>
              <div class="alert alert-success" role="alert"><%= flash['notice'] %></div>
            <% end %>
            <% if flash['error'] %>
              <div class="alert alert-danger" role="alert"><%= flash['error'] %></div>
            <% end %>
          </div>
        <% end %>

        <%== yield %>

      </main>
    </div>
  </body>
</html>
